* {
   margin: 0.5em;
   box-sizing: border-box;
}

body {
   background-color: #000;
   color: #fff;
}

h1 {
   color: blueviolet;
   text-align: center;
   text-transform: uppercase;
}

h2 {
   color: orange;
}

.post-container {
   border: 2px solid blue;
   border-radius: 10px;
}
